{% extends 'base.html.twig' %}

{% block title %}404 Страница не найдена{% endblock %}

{% block body %}
    <div class="error-code">404</div>
    <div class="error-info">
        <div class="error-text">Страница не найдена</div>
        <div class="error-options">
            <a class="btn-link" href="/page/create">Создать страницу</a>
        </div>
    </div>
{% endblock %}
